.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 85%;
  /* background-color: teal; */
}

.subMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  /* background-color: yellowgreen; */
}
.containUserInfo {
  height: 12%;
}

.containRowRecharts {
  display: flex;
  flex-direction: row;
  height: 45%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.containRowRecharts .childRechartRow {
   display: flex;
  height: 100%;
  width: 30%; 
border-radius: 8px;
}

.subLeftContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 100%;
}

.subRightContainerMain {
  /* width: 30%; */
  height: 100%;
  display: flex;
}
