.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 85%;
  /* background-color: teal; */
}

.subMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85%;
  /* background-color: yellowgreen; */
}
.containUserInfo {
  height: 12%;
}

.containRowRecharts {
  display: flex;
  flex-direction: row;
  height: 45%;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  align-self:flex-start;
}

.containRowRecharts .childRechartRow {
  display: flex;
  height: 100%;
  border-radius: 5px;
  aspect-ratio: 0.9;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}

.subLeftContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.subRightContainerMain {
  width: 23%;
  height: 100%;
  display: flex;
}
