.layoutContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: #020203;
    height: 100vh;
}
.layoutPartBot{
    height: 91.2%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.layoutPartTop{
    min-height: 70px;
    height: 8.8%;
    width: 100%;
    background-color: #020203;
    display: flex;
}
.layoutPartLeft{
    width: 8.12%;
    min-width: 83px;
    background-color: #020203;
    height: 100%;
    display: flex;
}
.layoutPartGeneral{
    width: 91,88%;
    min-width:941px ;
    display: flex;
    flex: 1;
}

/* p{
    color:white;
} */
