.subChildrenRightInfo {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
}

.containerIconCardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  /* height: 60px; */
  border-radius: 5px;
  aspect-ratio: 1;  

  /* background- */
  /* backgroundColor:`rgba(0, 0, 0, 0.5)` */

}
.cardIconTitleType {
  color: #74798c;
  font-size: 14px;
}
.cardIconCountUnit{
  font-size: 20px;
  font-weight: 600;
}
.partTextRightInfo{
  display: flex;
  flex-direction: column;
  max-height: 55px;
  height: 90%;
  justify-content: space-around;
  margin-left: 25px;
}
