.lineChartCustomTooltip{
    background-color: white;
    margin: 10px;
    padding: 8px;

}
.lineChartCustomTooltipTxt{
    font-weight: 500;
    font-size: 13px;
}

.LineChartTitle{
    color: white;
}
.XAxisStyle{
    padding:   30px 0;
    /* width: 80%; */
}

.titleLineChart{
    position: absolute;
    color: #FFFFFF;
    opacity: 0.5;
    width: 70%;
    font-size: 14px;
    top:9%;
    left:12%;
}

.dayContainerAxis{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 20px;
}
